@import 'tailwindcss';

@theme {
    --color-primary-light: #edf4f8;
    --color-primary-dark: #223239;
    --color-accent-light: #e1ff1c;
    --color-accent-dark: #2a2b68;
    --color-absolute-black: #000;
    --color-light-green: #93fc8d;
    --color-light-yellow: #fff2a9;
    --color-light-red: #ffaaaa;
    --color-dark-red: #d32412;
    --color-dark-green: #13962d;
    --color-light-gray: #717171;
    --color-grey: #717171;
}

:root {
    --stroke-color: #000;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    @apply bg-primary-light text-primary-dark;
}

@layer utilities {
    .text-blur {
        @apply z-0 text-absolute-black blur-[8px];
        -webkit-filter: blur(8px);
    }

    .text-front {
        @apply z-[3] text-transparent;
        /*  Set text-color to transparent to only show the outline  */
        text-stroke: 3px var(--stroke-color);
        -webkit-text-stroke: 3px var(--stroke-color);
    }
}

@layer components {
    .text-banner {
        @apply absolute select-none text-center text-[clamp(84px,15vw,220px)] font-extrabold uppercase leading-[0.8] tracking-[10px];
    }
}
